.login-form-section{
    width: 100%;
    display: flex;
    margin: 50px 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    background-image: url('../images/undraw_diary_99km.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.login-form{
    background-color: #fefefe;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 0 30px;
    color: #000000;
    border: 4px solid #000000;
    border-radius: 5px;
}

.login-heading{
    display: flex;
    flex-direction: column
}

p{
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1.25em;
    text-align: center;
}

label{
    font-size: 1.25em;
}

.login-form input{
    padding: 10px 20px;
    outline: none;
    border: 3px solid #000000;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.log-links{
    display: flex;
    flex-direction: column;
}

.log-links .btn{
    padding: 10px;
    background-color: #f0823a;
    color: #fefefe;
    font-size: 1em;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    outline: none;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    border: none;
}

.log-links .btn:hover{
    opacity: 0.8;
}

.reg{
    color: #000;
}

.reg:hover{
    opacity: 0.8;
}

